<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find warehouse_robot)/worlds/warehouse.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="physics" value="ode"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find warehouse_robot)/urdf/turtlebot3_waffle_with_arm.urdf.xacro'" />

  <node name="spawn_turtlebot3" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model turtlebot3_waffle -x -2.0 -y 0.0 -z 0.0 -param robot_description" 
        output="screen" />

  <node name="spawn_target_item" pkg="gazebo_ros" type="spawn_model" 
        args="-sdf -model blue_cube -x 1.0 -y 0.0 -z 0.075 -file $(find warehouse_robot)/models/blue_cube.sdf" 
        output="screen" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="controller_manager" pkg="controller_manager" type="controller_manager" 
        output="screen"/>

  <rosparam file="$(find warehouse_robot)/config/controllers.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" 
        args="joint_state_controller arm_controller --shutdown-timeout 1" 
        output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'"/>

  <node name="color_scanner" pkg="warehouse_robot" type="color_scanner.py" output="screen" cwd="node" respawn="false" launch-prefix="" dir="$(find warehouse_robot)/scripts" />
</launch>